In [0]:
CREATE TABLE employees 
  (id INT, name STRING, salary DOUBLE)

In [0]:
INSERT INTO employees
VALUES 
   (1, "Adam", 3500.00), 
   (2, "Sarah", 4020.00),
   (3, "John",  2999.00),
   (4, "Thomas",  4000.00),
   (5, "Anna",  2500.00),
   (6, "Kim",   6200.00)

In [0]:
SELECT * FROM employees

In [0]:
DESCRIBE DETAIL employees

In [0]:
update employees
SET salary = salary * 100
where name LIKE "A%"

In [0]:
DESCRIBE HISTORY employees

In [0]:
select * from employees@v1

In [0]:
DELETE FROM employees

In [0]:
SELECT * FROM employees

In [0]:
RESTORE TABLE employees TO VERSION AS OF 2

In [0]:
SELECT * FROM employees

In [0]:
describe history employees

In [0]:
OPTIMIZE employees
ZORDER BY id